.xl {
    font-size:36pt;
}

.lg {
    font-size:26pt;
}

.md {
    font-size:18pt;
}

.sm {
    font-size:10pt;
}

.xs {
    font-size:8pt;
}

.space {
    height:100px;
}

.r {text-align:right;}
.c {text-align:center;}
.l {text-align:left;}

.padded-5 {
    padding: 5px;
}

div, p, a, h1, h2, h3, h4, h5, h6, span, button {
    transition: 
        width 1.0s, 
        height 1.0s,
        margin 0.5s,
        padding 0.5s,
        left 0.5s,
        top 0.5s,
        right 0.5s,
        bottom 0.5s,
        color 0.5s,
        background-color 0.5s,
        box-shadow 0.5s
    ;

    -webkit-transition: 
        width 1.0s, 
        height 1.0s,
        margin 0.5s,
        padding 0.5s,
        left 0.5s,
        top 0.5s,
        right 0.5s,
        bottom 0.5s,
        color 0.5s,
        background-color 0.5s,
        box-shadow 0.5s
    ;
}


.btn-inverse {
    /**border-radius:0;**/
    cursor: pointer;
    background-color: #313131;
    color: #999;
}

.btn-inverse:hover {
    /**border-radius:0;**/
    cursor: pointer;
    background-color: #414141;
    color: #fff;
}

.panel-default {
    border: solid 0 #313131;
    border-radius: 0;
}

.panel-default > .panel-heading {
    background: #414141;
    border: solid 0 #313131;
    border-radius: 0;
    color: #ccc;
}

.panel-body {
    background: #fff;
    border: solid 0 #313131;
    border-radius: 0;
    color: #414141;
}

.panel {
    box-shadow: rgba(0,0,0,0.5) 0px 4px 8px -2px;
}

.panel-heading {
    box-shadow: inherit;
}

pre {
    padding :5px;
    margin: 2px;
    border: solid 0px;
    border-radius: 0px;
    background-color: transparent;
}
